In [2]:
import pandas as pd
import os

In [10]:
sp_properties = {
    'dog': '../data/proc/resi_prop_delta_Canis_lupus_familiaris.csv',
    'chicken': '../data/proc/resi_prop_delta_Gallus_gallus.csv',
    'cow': '../data/proc/resi_prop_delta_Bos_taurus.csv',
    'human': '../data/proc/resi_prop_delta_Homo_sapiens.csv',
    'mouse': '../data/proc/resi_prop_delta_Mus_musculus.csv',
    'cat': '../data/proc/resi_prop_delta_Felis_catus.csv',
    'horse': '../data/proc/resi_prop_delta_Equus_caballus.csv'
}

In [41]:
sp_dfs = []
for key, val in sp_properties.items():
    spd = pd.read_csv(val, comment='#')
    spd['species'] = key
    sp_subset = spd[['resi_compare', 'iso1_one_idx', 'species']]
    sp_dfs.append(sp_subset)
    
all_species = pd.concat(sp_dfs)

In [42]:
all_species.head()

  resi_compare  iso1_one_idx species
0            -           1.0     dog
1            -           NaN     dog
2            -           NaN     dog
3            -           NaN     dog
4            -           NaN     dog

In [43]:
all_species.tail()

    resi_compare  iso1_one_idx species
524            M         488.0   horse
525            R         489.0   horse
526            V         490.0   horse
527            T         491.0   horse
528            L         492.0   horse

In [44]:
all_species_complete = all_species.dropna()

In [45]:
all_species_complete.head()

   resi_compare  iso1_one_idx species
0             -           1.0     dog
38            -           2.0     dog
39            M           3.0     dog
40            E           4.0     dog
41            R           5.0     dog

In [89]:
aln_wide = all_species_complete.pivot(index='species', columns='iso1_one_idx', values='resi_compare')

In [90]:
aln_wide

iso1_one_idx,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,483.0,484.0,485.0,486.0,487.0,488.0,489.0,490.0,491.0,492.0
species,,,,,,,,,,,,,,,,,,,,,
cat,-,-,-,D,C,A,P,P,P,P,...,W,I,Y,S,E,M,E,S,E,V
chicken,-,C,K,A,G,N,P,-,-,-,...,W,I,Y,K,N,M,Q,A,N,R
cow,-,A,L,N,S,G,S,S,P,G,...,W,I,Y,Q,Q,M,R,A,N,S
dog,-,-,M,E,R,D,S,S,R,N,...,W,I,Y,S,K,M,E,V,F,R
horse,-,A,L,N,S,G,S,P,P,G,...,W,I,Y,Q,E,M,R,V,T,L
human,M,A,L,N,S,G,S,P,P,A,...,W,I,Y,R,Q,M,R,A,D,G
mouse,-,A,L,N,S,G,S,P,P,G,...,W,I,Y,Q,Q,M,R,A,N,S

In [91]:
aln_wide.columns = [''.join(str(col)).strip() for col in aln_wide.columns.values]

In [92]:
aln_wide

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,483.0,484.0,485.0,486.0,487.0,488.0,489.0,490.0,491.0,492.0
species,,,,,,,,,,,,,,,,,,,,,
cat,-,-,-,D,C,A,P,P,P,P,...,W,I,Y,S,E,M,E,S,E,V
chicken,-,C,K,A,G,N,P,-,-,-,...,W,I,Y,K,N,M,Q,A,N,R
cow,-,A,L,N,S,G,S,S,P,G,...,W,I,Y,Q,Q,M,R,A,N,S
dog,-,-,M,E,R,D,S,S,R,N,...,W,I,Y,S,K,M,E,V,F,R
horse,-,A,L,N,S,G,S,P,P,G,...,W,I,Y,Q,E,M,R,V,T,L
human,M,A,L,N,S,G,S,P,P,A,...,W,I,Y,R,Q,M,R,A,D,G
mouse,-,A,L,N,S,G,S,P,P,G,...,W,I,Y,Q,Q,M,R,A,N,S

In [93]:
aln_wide = aln_wide.reset_index()

In [94]:
aln_wide

,species,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,...,483.0,484.0,485.0,486.0,487.0,488.0,489.0,490.0,491.0,492.0
0,cat,-,-,-,D,C,A,P,P,P,...,W,I,Y,S,E,M,E,S,E,V
1,chicken,-,C,K,A,G,N,P,-,-,...,W,I,Y,K,N,M,Q,A,N,R
2,cow,-,A,L,N,S,G,S,S,P,...,W,I,Y,Q,Q,M,R,A,N,S
3,dog,-,-,M,E,R,D,S,S,R,...,W,I,Y,S,K,M,E,V,F,R
4,horse,-,A,L,N,S,G,S,P,P,...,W,I,Y,Q,E,M,R,V,T,L
5,human,M,A,L,N,S,G,S,P,P,...,W,I,Y,R,Q,M,R,A,D,G
6,mouse,-,A,L,N,S,G,S,P,P,...,W,I,Y,Q,Q,M,R,A,N,S

In [69]:
aln_wide.to_csv('consensus_seq_alignment.csv')

RangeIndex(start=0, stop=7, step=1)